<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.SmsRecordMapper">
  <resultMap id="BaseResultMap" type="com.shopping.entity.SmsRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mobile_number" jdbcType="VARCHAR" property="mobileNumber" />
    <result column="validate_code" jdbcType="VARCHAR" property="validateCode" />
    <result column="sms" jdbcType="VARCHAR" property="sms" />
    <result column="dead_line" jdbcType="TIMESTAMP" property="deadLine" />
    <result column="usable" jdbcType="VARCHAR" property="usable" />
    <result column="sended" jdbcType="VARCHAR" property="sended" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="sms_type" jdbcType="VARCHAR" property="smsType" />
  </resultMap>
</mapper>